@use '../utils/variables' as v;
@use '../utils/breakpoints' as *;

.benefits {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	gap: 30px;
}

.benefits__item {
	flex: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	@include desktop-sm {
		flex: calc(50% - 30px);
	}

	@include desktop-bg {
		flex: calc(25% - 90px);
	}
}

.benefits__icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 30px;
	background-color: v.$color-section-alternate-bg;
	border-radius: 4px;
}

.benefits__icon {
	display: block;
	width: 70px;
	height: 70px;
}

.benefits__title {
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: v.$color-dark-grey;

	@include mobile {
		text-align: center;
		font-size: 14px;
	}
}

.benefits__description {
	margin: 0;
	color: v.$color-light-grey;
}
