@use "../utils/variables";

.our-clients {
	display: flex;
	justify-content: space-between;
}

.our-clients__link {
	display: flex;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;
	color: variables.$color-icon-team-inactive;
	border: 1px solid variables.$color-icon-team-inactive;
	border-radius: 4px;
	transition: color variables.$animation-type1, border variables.$animation-type1;

	&:hover,
	&:focus,
	&:hover .our-clients__icon,
	&:focus .our-clients__icon {
		color: variables.$color-brand;
		border-color: variables.$color-brand;
	}
}

.our-clients__icon {
	color: variables.$color-icon-team-inactive;
	transition: color variables.$animation-type1;
}
