@use '../utils/variables' as v;
@use '../utils/breakpoints' as *;

.header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	border-bottom: 1px solid #ececec;
	box-sizing: border-box;

	background-color: v.$color-white;

	@include desktop-sm {
		height: 80px;
	}
}

.header__container {
	width: 100%;
	height: 100%;
	display: flex;
}

.header-nav,
.header-nav__list,
.header-contacts {
	display: flex;
	align-items: center;
}

.header-nav__list {
	display: none;

	@include desktop-sm {
		display: flex;
	}
}

.logo {
	display: block;
	margin-right: 83px;
	font-family: v.$font-logo;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: v.$color-brand;

	&--black {
		color: v.$color-dark-grey;
	}

	&--white {
		color: v.$color-white;
	}
}

.header-nav__link {
	position: relative;
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: v.$color-dark-grey;
	transition: color v.$animation-type1;

	&:hover,
	&:focus {
		color: v.$color-brand;
	}

	&--active {
		color: v.$color-brand;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 4px;
			bottom: -33px;
			background-color: v.$color-brand;
			border-radius: 2px;
		}
	}
}

.header-contacts {
	display: none;

	@include desktop-sm {
		display: flex;
		flex-wrap: wrap;
		width: min-content;
		margin-left: auto;
	}

	@include desktop-bg {
		flex-wrap: nowrap;
		width: auto;
	}
}

.header-contacts__item {
	@include desktop-bg {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.header-contacts__link {
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: v.$color-light-grey;
	transition: color v.$animation-type1;

	&:hover,
	&:focus {
		color: v.$color-brand;
	}
}

.header-contacts__icon {
	margin-right: 10px;
	color: inherit;
}

.header-nav__item:not(:last-child) {
	margin-right: 50px;
}

// hamburger menu

.hamburger-checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 20px;
	right: 15px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;

	@include desktop-sm {
		display: none;
	}
}

.hamburger-lines {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 17px;
	right: 15px;
	z-index: 2;

	@include desktop-sm {
		display: none;
	}
}

.hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	background: v.$color-dark-grey;
}

.hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: v.$animation-type1;
}

.hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: v.$animation-type1;
}

input[type='checkbox']:checked ~ .menu-items {
	transform: translateX(0);
}

input[type='checkbox']:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

input[type='checkbox']:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

input[type='checkbox']:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}
