@use '../utils/variables' as v;
@use '../utils/breakpoints' as *;

.mobile-menu {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	transform: translateX(200vw);

	padding: 48px 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: v.$color-white;

	transition: transform v.$animation-type1;

	&--is-open {
		transform: translateX(0);
	}

	@include desktop-sm {
		display: none;
	}
}

.mobile-menu__nav {
	flex-grow: 1;
}

.mobile-menu__nav-item:not(:last-child) {
	margin-bottom: 32px;
}

.mobile-menu__nav-link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: v.$color-dark-grey;

	&--active {
		color: v.$color-brand;
	}
}

.mobile-menu__contacts-list {
	margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
	margin-bottom: 32px;
}

.mobile-menu__contacts-link {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	color: v.$color-light-grey;
}

.mobile-menu__contacts-link--phone {
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: v.$color-brand;
}

.mobile-menu__socials-list {
	display: flex;
}

.mobile-menu__socials-item {
	&:not(:first-child) {
		margin-left: 10px;
	}

	&:not(:last-child) {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
		padding-right: 10px;
	}
}
