@use '../utils/variables' as v;
@use '../utils/breakpoints' as *;

.portfolio-filters__list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 30px;

	@include desktop-sm {
		margin-bottom: 50px;
		justify-content: center;
	}
}

.portfolio-filters__button {
	padding: 6px 22px;
	background-color: v.$color-section-alternate-bg;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: v.$color-dark-grey;
	border: none;
	border-radius: 4px;
	transition: color v.$animation-type1, background-color v.$animation-type1,
		box-shadow v.$animation-type1;

	&:hover,
	&:focus {
		background-color: v.$color-brand;
		color: v.$color-white;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		cursor: pointer;
	}
}

.portfolio-projects__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-projects__item {
	flex: 100%;

	@include desktop-sm {
		flex: calc(50% - 30px);
	}

	@include desktop-bg {
		flex: calc(33% - 60px);
	}
}

.portfolio-projects__link {
	display: block;
	transition: box-shadow v.$animation-type1;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);

		& .potfolio-projects__hidden-description {
			transform: translateY(-294px);
		}
	}
}

.portfolio-projects__animated-block {
	overflow: hidden;
	height: 294px;
}

.portfolio-projects__img {
	width: 100%;
	height: 294px;
	object-fit: cover;
	object-position: center;
}

.potfolio-projects__hidden-description {
	display: flex;
	align-items: center;
	height: 294px;
	padding: 0 24px;
	background-color: rgba(33, 150, 243, 0.9);
	color: v.$color-white;
	font-size: 18px;
	line-height: 1.55;
	transition: transform v.$animation-type1;
}

.portfolio-projects__content-box {
	padding: 20px 24px;
	border-right: 1px solid v.$color-light-grey-2;
	border-bottom: 1px solid v.$color-light-grey-2;
	border-left: 1px solid v.$color-light-grey-2;
}

.portfolio-projects__title {
	margin: 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: v.$color-dark-grey;
}

.portfolio-projects__description {
	margin: 0;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: v.$color-light-grey;
}
