@use 'variables';

.section__title--hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section--alternate-color {
	background-color: variables.$color-section-alternate-bg;
}

.section--no-padding-top {
	padding-top: 0;
}

.body--scroll-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: hidden;
}

.body--scroll-hidden::-webkit-scrollbar {
	display: none;
}
